<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <ul>
        <li>{{Game001}}  <button><a href="#">Купить </a> </button> </li>
        <br>
        <li>{{Game002}}  <button><a href="#">Купить </a> </button> </li>
        <br>
        <li>{{Game003}}  <button><a href="#">Купить </a> </button> </li>

        <br>
    </ul>
    <p2><button><a href="http://127.0.0.1:8000/platform/">Вернуться обратно</a> </button> </li></p2>


</body>
</html>